@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Merienda:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#section-1 ul a {
    color: var(--white);
    text-decoration: none;
    list-style-type: none;
    ;
}

#section-1 button a {
    color: var(--black);
    text-decoration: none;
    list-style-type: none;
    ;
}


:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

#section-1 {
    position: relative;
    background-image: url(./section-1/slider-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 120vh;
    width: 100%;
    animation: img-change 12s infinite alternate linear;
}

@keyframes img-change {


    0% {
        background-image: url(./section-1/slider-1.jpg);
    }

    10% {
        background-image: url(./section-1/slider-1.jpg);
    }

    20% {
        background-image: url(./section-1/slider-1.jpg);
    }

    30% {
        background-image: url(./section-1/slider-1.jpg);
    }

    40% {
        background-image: url(./section-1/slider-1.jpg);
    }

    50% {
        background-image: url(./section-1/slider-2.jpg);
    }

    60% {
        background-image: url(./section-1/slider-2.jpg);
    }

    70% {
        background-image: url(./section-1/slider-2.jpg);
    }

    80% {
        background-image: url(./section-1/slider-2.jpg);
    }

    90% {
        background-image: url(./section-1/slider-2.jpg);
    }

    100% {
        background-image: url(./section-1/slider-2.jpg);
    }
}

#section-1 nav {
    background: #000;
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    border-bottom: 2px solid #F0B21A;
}

#section-1 nav img {
    height: 28px;
}

#section-1 nav ul {
    color: snow;
    font-family: var(--font-family-sans-serif);
    font-size: 19px;
    display: flex;
    column-gap: 50px;
    list-style-type: none;
    font-weight: 600;
}

#section-1 nav button {
    background: #F0B21A;
    color: black;
    border-radius: 40px;
    border: none;
    padding: 15px 40px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    outline: none;
}


.first-c-btn {
    animation: trans 2s forwards 5.2s;
}

@keyframes trans {
    0% {
        opacity: 0;
        transform: translateY(-200px);

    }

    100% {
        transform: translateY(0px);
    }
}

/* first-content */
.first-content {
    padding: 0px 0px 110px 250px;
    gap: 40px;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 60%;
    color: var(--light);
}

.first-content p {
    width: 70%;
    line-height: 1.9;
    font-size: 16px;
    font-family: "Parkinsans", sans-serif;
    animation: trans 2s forwards 5s;

}

.first-content span {
    font-style: oblique;
    color: #F0B21A;
}

.first-content h1 {
    font-family: var(--font-family-sans-serif);
    font-size: 60px;
    font-family: "Merienda", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    animation: trans 2s forwards 4.8s;
}

.first-content .first-c-btn button {
    padding: 20px 50px;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 500;
    background: var(--warning);
    border-radius: 300px;
}

/* letest */
.latest-news {
    background: #F0B21A;
    position: absolute;
    bottom: 0px;
    height: 80px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.latest-news p {
    float: right;
    padding: 0px 0px 0px 200px;
    color: var(--white);
    font-size: 25px;
    filter: drop-shadow(2px 2px 3px black);
}

/* new */

.marq {
    height: 80px;
    background: #000;
    right: 0%;
    bottom: 0px;
    position: absolute;
    width: 70%;
}

.new-main {
    height: 80px;
    display: flex;
    column-gap: 80px;
    align-items: center;
    justify-content: center;
}

.new p {
    font-family: var(--font-family-sans-serif);
    font-size: 20px;
}

.new {
    column-gap: 30px;
    color: snow;
    display: flex;
    align-items: center;
    justify-content: center;

}

.a button {
    background: var(--pink);
    color: var(--white);
}

.b button {
    background: var(--success);
    color: var(--white);
}

.c button {
    background: var(--blue);
    color: var(--white);
}

.d button {
    background: var(--danger);
    color: var(--white);
}


.new-btn button {
    padding: 8px 30px;
    font-size: 16px;
}



/* section-2 */
#section-2 {
    padding: 50px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    align-content: space-around;
    padding-bottom: 30px;
    /* padding-top: 40px; */
}

.new-cards{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    background: var(--light);
    width: 330px;
    height: 400px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.card-1 {
    padding: 20px;
}

.card-1 button {
    border: none;
    outline: none;
}

.card-contain-1 p {
    font-size: 16px;
    line-height: 1.5;
}

.card-contain-1 {
    font-family: "Merienda", serif;
    color: var(--white);
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 20px;
}

.card-contain-1 h2 {
    font-weight: bold;
    font-size: 19px;
}

.one {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), black), url(./section-2/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.two {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), black), url(./section-2/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.three {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), black), url(./section-2/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%  0.1px;
}

.four {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), black), url(./section-2/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.new-cards:hover {
    flex-grow: 1;
}



/* section-3 */

#section-3 {
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent), url(./section-3/recent-game-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 34px;
}

#section-3 .rec-btn-p button {
    border: none;
}

.rec-img1 {
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.rec-img1:hover {
    transform: perspective(1200px) rotateX(15deg);
}

#section-3 .rec-btn-p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    text-align: center;
}

#section-3 .rec-btn-p p {
    font-weight: bold;
    font-family: poppins;
    font-size: 35px;
}

.bg-1 {
    background-image: url(./section-3/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 230px;
    width: 430px;
    padding: 30px 0px 0px 20px;

}

.bg-1 button {
    border: none;
}

.img-1-content {
    height: 250px;
    width: 430px;
    background: snow;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.img-1-content h2,
p {
    width: 85%;
}

.img-1-content p {
    line-height: 1.7;
    font-size: 18px;
}

.fav-icons i:first-child {
    height: 35px;
    width: 37px;
    color: var(--light);
    background: var(--warning);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fav-icons i:last-child {
    height: 35px;
    width: 37px;
    background: var(--pink);
    display: flex;
    align-items: center;
    color: var(--light);
    justify-content: center;
}

.fav-icons {
    font-size: 22px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
}

.recents-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.sec-3-btn-last {
    background-image: url(./section-3/3.jpg);
}

.sec-3-btn-last button {
    background: var(--blue);
}

.sec-3-btn button {
    background: var(--red);
}

.sec-3-btn {
    background-image: url(./section-3/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* section-4 */

#section-4 {
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 60vh;
    background: #3B3B3B;
}

.sec-4-1 img {
    height: 200px;
    width: 200px;
}

.sec-4-1 {
    position: relative;
    height: 330px;
    color: snow;
    background: #252525;
    width: 620px;
}

.tournament-btn {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: -40px;
}

.tournament-btn button:first-child {
    background: #E96D28;
    color: #f8f9fa;
    border: none;
    width: 70%;
    padding: 10px 15px;
    font-size: 14px;
    font-family: poppins;
    font-weight: 600;
}

.tournament-btn button:last-child {
    font-family: poppins;
    background: var(--warning);
    color: #000;
    font-weight: bold;
    border: none;
    padding: 10px 30px;
    font-size: 14px;
}

.content-sec-1 {
    padding-inline: 30px;
    column-gap: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: poppins;
}

.content-1 span {
    color: var(--secondary);
}

.content-1 h2 {
    color: var(--warning);
}

.content-1 p {
    line-height: 1.6;
    font-size: 14px;

}

.content-1 {
    display: flex;
    row-gap: 17px;
    flex-direction: column;
}

.prize span {
    color: var(--warning);
}

.prize p {
    color: var(--secondary);
    font-size: 14px;
    width: 100%;
}

.tour {
    top: 0;
}

.tour button {
    width: 100% !important;
    padding: 8px 30px;
}

/* section-5 */

#section-5 {
    background-image: url(./section-5/review-bg.png);
    background-size: cover;
    background-position: -200px -40px;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.sec-5-btn {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec-5-btn button {
    background: var(--primary);
    color: #fff;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    font-family: poppins;
    font-weight: 600;
}

.sec-5-btn p {
    margin-top: 20px;
    white-space: nowrap;
    font-weight: bold;
    font-family: poppins;
    font-size: 35px;
}

.main-sec-5 {
    font-family: poppins;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.h2-p h2 {
    text-align: center;
}

.h2-p p {
    line-height: 1.9;
}

.h2-p {
    padding-top: 30px;
    flex-direction: column;
    display: flex;
    gap: 30px;
}

.sec-5-container p:last-child {
    text-align: center;
    width: 100%;
    color: var(--secondary);
    font-size: 14px;
}

.sec-5-container {
    position: relative;
    width: 320px;
    height: 600px;
    cursor: pointer;
}


.sec-5-container img:hover {
    filter: brightness(120%);
    transform: perspective(900px) skewx(0deg);
    padding-block: 0px;
}

.sec-5-container img {
    padding-block: 30px;
    transform: perspective(900px) skewy(15deg);
    filter: brightness(30%);
    transition: 0.3s ease-in-out;
}

.sec-5-container p:first-child {
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 20px;
    top: -25px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background: var(--warning);
    z-index: 1;
}

.sec-5-container img {
    height: 400px;
    width: 300px;
}
/* section-6 */
#section-6{
    padding:20px 0px 30px 0px  ;
    justify-content:center;
    align-items: center;
    display: flex;
    background: #353535;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    min-height: 90vh;
    font-family: poppins;
}
#section-6 .game-png img:last-child{
    height: 400px;
    width: 420px;
}
.game-png img{
    height: 35px;
    width: 250px;
}
#section-6 .game-png{
    display: flex;
    row-gap:30px;
    font-size: 0.7rem;
    color: var(--white);
    flex-direction: column;
} 

#section-6 .latest-post img{
height: 80px;
width: 80px;
}
#section-6 .latest-post {
    height: 450px;
    width: 330px;
    background-color: #252525;
    border: 2px solid grey;
}
#section-6 .latest-post > p{
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    padding: 20px 0px 0px 20px;

}
#section-6 .latest-post .game-imgs{
        display: flex;
        justify-content:space-between;
        align-items: center;
        gap: 10px;
        padding:40px 0px 0px 20px;
    }
    .game-contain{
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
    #section-6 .game-contain p:first-child{
    font-size: 0.8rem;
    font-weight:400;
    color: #ffaf04;
}
#section-6 .game-contain p{
    font-size: 0.6rem;
    color:rgba(255, 255, 255, 0.799);
}
#section-6 .game-contain p:last-child{
    color:rgba(204, 204, 204, 0.72);
}

/* comments */
.Comments img{
    border-radius: 50%;
    height: 60px !important;
    width: 60px !important;
}

.comments-top .Comments{  
    padding:20px 10px 0px 10px !important;
    column-gap: 20px !important;
}

.comments-top .Comments .foot p:first-child{
    font-size: 0.6rem !important;
    line-height: 2;
    color: #cccdce !important;
}
.comments-top .Comments .foot span:first-child{
    color: #FF004F;
}
.comments-top .Comments .foot span:last-child{
    color: rgba(179, 179, 179, 0.672) !important;
}


.comments-top .Comments .foot p:last-child{
    color: var(--warning) !important;
}

@media screen and (max-width:1280px) {
    /* section-1 */
    

    #section-1 .first-content {
        width: 80%;
        padding: 0px 0px 90px 80px;
    }

    #section-1 .first-content h1 {
        font-size: 50px;
        font-size: 50px;
    }

    #section-4 {
        padding-block: 120px;
    }

    .sec-4-1 {
        width: 600px;
    }


    .latest-news p {
        width: 100%;
    }

}

@media screen and (max-width:1255px) {
    .sec-4-1 {
        width: 500px;
    }

    .sec-4-1 {
        width: 500px;
    }

    .sec-4-1 p {

        font-size: 12px;
    }
}

@media screen and (max-width:1065px) {
    #section-1 nav ul {
        font-size: 16px;
        gap: 30px;
    }

    #section-1 nav button {
        font-size: 14px;
        padding: 15px 25px;
    }

    .latest-news p {
        margin-right: 90px;
        border: none;
        text-align: center;
        font-size: 1.3rem;
        white-space: nowrap;
    }

    .sec-4-1 {
        height: auto;
        width: 350px;
    }

    .content-sec-1 img {
        height: 260px;
        width: 300px;
        padding-block: 20px;
    }

    .content-sec-1 {
        padding-block: 60px;
        flex-direction: column;
    }


}

@media screen and (max-width:909px) {
    #section-6{
        padding: 30px;
    }
    #section-1 .first-content {
        width: 100%;
    }

    #section-1 nav img {
        height: 20px;
    }

    #section-1 .first-content h1 {
        font-size: 40px;
    }

    #section-1 .first-content p {
        font-size: 1rem;
    }

    #section-1 .first-content button {
        padding: 15px 25px;
        font-size: 0.9rem;
    }

    .latest-news p {
        margin-right: 100%;
    }
}

@media screen and (max-width:768px) {
    .latest-news p {
        margin-right: 150%;
    }

    #section-1 nav ul {
        display: none;
    }

    #section-4 {
        flex-direction: column;
    }

    .sec-4-1 {
        height: 350px;
        width: 550px;
    }

    .content-sec-1 img {
        height: 200px;
        width: 200px;
    }

    .content-sec-1 {
        flex-direction: row;
    }

}

@media screen and (max-width:582px) {
    #section-1 .first-content h1 {
        font-size: 30px;
    }

    #section-1 .first-content p {
        font-size: 14px;
    }

    #section-1 nav button {
        padding: 15px 15px;
        font-size: 0.8rem;
    }

    .latest-news p {
        font-size: 1.2rem;
    }

    .sec-4-1 {
        width: 80%;
        height: auto;
    }

    .content-sec-1 img {
        width: 80%;
        height: 300px;
    }

    .content-sec-1 {
        flex-direction: column;
    }

    .new-cards .card-contain-1 h2 {
        font-size: 1rem;
        width: 100%;
    }

    .new-cards .card-contain-1 p {
        font-size: 0.8rem;
        width: 100%;
    }

    .card-1 button {
        font-size: 0.9rem;

    }

    .new-cards:hover {
        flex-grow: 1;
    }

    .rec-img1 {
        width: 80%;
    }

    .img-1-content h2,
    p {
        width: 100%;
    }

    .img-1-content p {
        font-size: 0.9rem;
    }

    .img-1-content {
        height: 230px;
        background: snow;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
        width: 100%;
    }
    
    .latest-news p {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1rem;
        margin-right: 190%;
   }
   
    .bg-1 {
        height: 230px;
        width: 100%;
        padding: 30px 0px 0px 20px;
    }

    .new-cards{
        height: 100%;
    }
    .new-cards:hover{
        flex-grow: 0.7;
    }


    #section-6 .game-png img:first-child{
        height: auto;
        width: 200px;
    }
    #section-6 .game-png img:last-child{
        height: auto;
        width: 300px;
    }
    #section-6 {
        padding: 20px;
    }
    #section-6 .game-png p:nth-child(2){
        width:  80%;}
}

@media screen and (max-width:430px) {
    #section-1 .first-content h1
    {
        font-size: 22px;
        width: 100%;
    }
    #section-1 .first-content p{
        width: 80%;
        font-size: 0.8rem;
    }
    #section-1 .first-content button{
        padding: 10px 10px;
    }
    .first-content {
        padding: 0px;
    }
    .img-1-content {
        height: 200px;
    }

    .bg-1 {
        height: 200px;

    }
    .latest-news p{
        margin-right: 240%;
    }
    .img-1-content h2 {
        font-size: 1.3rem;
    }
    .sec-5-container img:hover{
        height: 300px;
        width: 100%;
    }
    .img-1-content p{
        font-size: 0.7rem;
    }
    .img-1-content h2{
        font-size: 0.9rem;
    
    }
}

@media screen and (max-height:815px) {
    #section-3 .img-1-content{
        gap: 10px;

    }
}
@media screen and (max-height:568px) {
    #section-1 .first-content h1{
        width: 100%;
        font-size: 0.9rem;
    }
    #section-1 .first-content p{
        width: 100%;
        font-size: 0.7rem;
    }
    .latest-news p{ 
        margin-right: 300%;
        
}

}
